---
import { getSortedBaseItems } from '../../_utils/utils';
import logoSrc from '../../assets/smol-logo.png';
import { FilterLab } from '../../components/FilterLab';
import Layout from '../../layouts/Layout.astro';

import { Image } from 'astro:assets';

const hasuraUri = import.meta.env.HASURA_GRAPHQL_URI as string;

const sortedBaseItems = getSortedBaseItems();
---

<Layout title="Filters" authPrompt={true}>
  <main
    class="flex flex-col items-start text-md xl:text-lg 2xl:text-2xl h-full relative"
  >
    <a
      class="absolute top-[8.5rem] left-4 md:top-14 md:left-32 text-lg"
      href="/filters">Old Filterblade Filter</a
    >
    <Image
      src={logoSrc}
      alt="logo"
      class="w-16 md:w-28 absolute top-6 md:top-12 left-20 md:left-0"
    />
    <FilterLab
      hasuraUri={hasuraUri}
      sortedBaseTypes={sortedBaseItems}
      client:only="react"
    />
  </main>
</Layout>
