@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'fontin';
  src: url('/fonts/fontin/Fontin-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'fontin';
  src: url('/fonts/fontin/Fontin-Italic.otf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'fontin';
  src: url('/fonts/fontin/Fontin-Bold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
