---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';

import logoSrc from '../assets/smol-logo.png';
---

<Layout title="PoE Profile" authPrompt={true}>
  <main class="flex flex-col items-start">
    <Image src={logoSrc} alt="logo" class="w-48 mb-8" />

    Daetherion has been kind enough to create a base filter for us all. <a
      class="my-2"
      href="https://www.pathofexile.com/account/view-profile/Maekker/item-filters"
      target="_blank"
      >You can find it here.
    </a>
    This filter auto highlights unique base items from our order book!
  </main>
</Layout>
