---
import Layout from '../layouts/Layout.astro';

import PoECharacters from '../components/react/PoECharacters';
import PoEProfile from '../components/react/PoEProfile';
import svg from '/smol-logo.svg';
---

<Layout title="Smol app">
  <main class="flex flex-col items-start">
    <img src={svg} alt="logo" class="w-32 md:w-64 mb-8" />

    <PoEProfile client:load />
    <PoECharacters client:load />
  </main>
</Layout>

<script>
  import { addMonths } from 'date-fns';
  const sixMonthsFromNow = addMonths(new Date(), 6).toUTCString();
  document.cookie = `hasura_user_id=f0d2e011-47cc-4576-9801-56327711de11; expires=${sixMonthsFromNow}`;
</script>
