---
import Layout from '../layouts/Layout.astro';

import svg from '/smol-logo.svg';
import Joke from '../components/react/Joke';

const { BASE_HREF } = import.meta.env;
---

<Layout title="Smol app">
  <main class="flex flex-col items-start">
    <img src={svg} alt="logo" class="w-32 md:w-64 mb-8" />

    <Joke baseHref={BASE_HREF} client:load />
  </main>
</Layout>
