---
import Layout from '../layouts/Layout.astro';

import { HomePage } from '../components/HomePage';
import svg from '/smol-logo.svg';

const hasuraUri = process.env.HASURA_GRAPHQL_URI as string;
---

<Layout title="Smol app">
  <main class="flex flex-col items-start">
    <img src={svg} alt="logo" class="w-48 mb-8" />
    <HomePage hasuraUri={hasuraUri} client:only="react" />
  </main>
</Layout>
