---
import Layout from '../layouts/Layout.astro';

const access_token = Astro.url.searchParams.get('access_token')! || '';
const expiry = Astro.url.searchParams.get('expiry')! || '';
const username = Astro.url.searchParams.get('username')! || '';

const { BASE_HREF } = import.meta.env;
---

<Layout title="Smol app">
  <main class="h-[80vh] flex flex-col justify-center items-center">
    <p class="my-8 text-2xl">Your login was successful!</p>
  </main>
</Layout>

<script define:vars={{ access_token, username, expiry, BASE_HREF }}>
localStorage.removeItem('poe_verifier');
localStorage.removeItem('poe_state');
localStorage.setItem('poe_token', access_token);
localStorage.setItem('poe_username', username);
localStorage.setItem('poe_expiry', expiry);
window.location.href = BASE_HREF;
</script>
