---
import Layout from '../layouts/Layout.astro';

import svg from '/smol-logo.svg';
---

<Layout title="Item Orders">
  <main class="flex flex-col items-start">
    <img src={svg} alt="logo" class="w-32 md:w-64 mb-8" />

    <h1 class="text-2xl">Coming Soon</h1>
  </main>
</Layout>
