---
import { Image } from 'astro:assets';
import { OrdersPage } from '../components/OrdersPage';
import Layout from '../layouts/Layout.astro';

import logoSrc from '../assets/smol-logo.png';

const hasuraUri = process.env.HASURA_GRAPHQL_URI as string;
---

<Layout title="Item Orders" authPrompt={true}>
  <main class="flex flex-col items-start">
    <Image src={logoSrc} alt="logo" class="w-32 mb-8" />
    <OrdersPage hasuraUri={hasuraUri} client:only="react" />
  </main>
</Layout>
