---
import { OrdersPage } from '../components/OrdersPage';
import Layout from '../layouts/Layout.astro';

import { getSortedBaseItems } from '../_utils/utils';

const hasuraUri = import.meta.env.HASURA_GRAPHQL_URI as string;

const sortedBaseItems = getSortedBaseItems();
---

<Layout title="Orders" authPrompt={true}>
  <main class="flex flex-col items-start relative">
    <OrdersPage
      hasuraUri={hasuraUri}
      sortedBaseItems={sortedBaseItems}
      client:only="react"
    />
  </main>
</Layout>
