---
import { Image } from 'astro:assets';
import { OrdersPage } from '../components/OrdersPage';
import Layout from '../layouts/Layout.astro';

import {
  type BaseItemResponse,
  type SortedBaseTypes,
  BASE_TYPE_CATEGORIES,
  exclusions,
} from '../models/base-types';

import basesResponse from '../assets/bases/all-basetypes.json';
import logoSrc from '../assets/smol-logo.png';

const hasuraUri = process.env.HASURA_GRAPHQL_URI as string;

const basesData = (basesResponse as { data: BaseItemResponse[] }).data.filter(
  (item) => BASE_TYPE_CATEGORIES.includes(item.ItemClassesName)
);

const filterExclusions = (
  items: BaseItemResponse[],
  exclusions: { [key in keyof Partial<BaseItemResponse>]: string }[]
): BaseItemResponse[] =>
  items.filter(
    (item) =>
      !exclusions.some((exclusion) =>
        Object.entries(exclusion).some(([key, value]) =>
          item[key as keyof BaseItemResponse].includes(value)
        )
      )
  );

const baseItemsWithoutExclusions = filterExclusions(basesData, exclusions);

const sortedBaseItems = baseItemsWithoutExclusions.reduce<SortedBaseTypes>(
  (acc: SortedBaseTypes, obj: BaseItemResponse) => {
    const key = obj.ItemClassesName;
    if (!acc[key]) {
      acc[key] = [];
    }
    acc[key].push(obj);
    return acc;
  },
  {} as SortedBaseTypes
);
---

<Layout title="Orders" authPrompt={true}>
  <main class="flex flex-col items-start">
    <Image src={logoSrc} alt="logo" class="w-32 mb-8" />
    <OrdersPage
      hasuraUri={hasuraUri}
      sortedBaseItems={sortedBaseItems}
      client:only="react"
    />
  </main>
</Layout>
