---
import { Image } from 'astro:assets';
import { OrdersPage } from '../components/OrdersPage';
import Layout from '../layouts/Layout.astro';

import { getSortedBaseItems } from '../_utils/utils';
import logoSrc from '../assets/smol-logo.png';

const hasuraUri = process.env.HASURA_GRAPHQL_URI as string;

const sortedBaseItems = getSortedBaseItems();
---

<Layout title="Orders" authPrompt={true}>
  <main class="flex flex-col items-start relative">
    <Image
      src={logoSrc}
      alt="logo"
      class="w-16 md:w-28 absolute top-6 md:top-12 left-20 md:left-0"
    />
    <OrdersPage
      hasuraUri={hasuraUri}
      sortedBaseItems={sortedBaseItems}
      client:only="react"
    />
  </main>
</Layout>
