---
import { OrdersPage } from '../components/OrdersPage';
import Layout from '../layouts/Layout.astro';

const hasuraUri = import.meta.env.HASURA_GRAPHQL_URI as string;
---

<Layout title="Orders" authPrompt={true}>
  <main class="flex flex-col items-start relative">
    <OrdersPage hasuraUri={hasuraUri} client:only="react" />
  </main>
</Layout>
