---
import Layout from '../layouts/Layout.astro';

import { ProfilePage } from '../components/ProfilePage';

const hasuraUri = process.env.HASURA_GRAPHQL_URI as string;
---

<Layout title="PoE Profile">
  <main class="flex flex-col items-start">
    <img src="./smol-logo.svg" alt="logo" class="w-48 mb-8" />

    <ProfilePage hasuraUri={hasuraUri} client:only="react" />
  </main>
</Layout>
