---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import { ProfilePage } from '../components/ProfilePage';

import logoSrc from '../assets/smol-logo.png';

const hasuraUri = process.env.HASURA_GRAPHQL_URI as string;
---

<Layout title="Profile" authPrompt={true}>
  <main class="flex flex-col items-start">
    <Image src={logoSrc} alt="logo" class="w-48 mb-8" />

    <ProfilePage hasuraUri={hasuraUri} client:only="react" />
  </main>
</Layout>
