---
import { Icon } from 'astro-icon';
// grab values from .env file
const { DISCORD_CLIENT_ID, DISCORD_REDIRECT } = import.meta.env;
// build discord auth url
const discord_oauth_url = `https://discordapp.com/oauth2/authorize?client_id=${DISCORD_CLIENT_ID}&redirect_uri=${DISCORD_REDIRECT}&scope=identify&response_type=token`;
---

<div
  id="login-container"
  class="fixed right-3 top-3 rounded border-discord-500 border-2 text-discord-500"
>
  <a
    href={discord_oauth_url}
    class="gap-2 items-center hidden"
    id="user-logged-out"
  >
    <Icon class="w-12" name="discord" />

    <div class="text-primary-500 mr-2">Login</div>
  </a>
  <div id="user-logged-in" class="hidden gap-2 items-center">
    <div class="flex gap-2 items-center bg-discord-500">
      <Icon class="w-12" name="discord" />
      <img class="mr-2" id="user-avatar" height="40" width="40" />
    </div>
    <span id="username" class="text-primary-500"></span>

    <a
      class="dropdown-item cursor-pointer mr-2 text-primary-800 hover:text-primary-500"
      id="action-logout"
    >
      Logout
    </a>
  </div>
</div>

<script src="./auth.ts"></script>
