---
type Route = {
  path: string;
  display: string;
};

let routes: Route[] = [
  {
    path: '/poe-profile',
    display: 'PoE Profile',
  },
];

const currentPath = Astro.url.pathname
  .split('/')
  .filter((x) => !!x)
  .pop();

routes = routes.filter(
  // !currentPath = home
  ({ path }) => !currentPath || !path.includes(currentPath)
);
---

<div
  class="fixed bottom-0 left-0 md:mx-auto w-full md:w-fit md:inset-x-0 md:top-3"
>
  <nav aria-label="Navigation" class="flex gap-2 text-3xl md:text-xl">
    {
      routes.map(({ path, display }) => (
        <a
          href={path}
          class="hover:text-primary-500 bg-gray-900 p-4 md:p-2 hover:bg-gray-800 grow basis-0 md:basis-auto text-center"
        >
          {display}
        </a>
      ))
    }
  </nav>
</div>
