---
import '../../base.css';
interface Props {
  title: string;
}

const { title } = Astro.props;

import AuthUser from './../components/AuthUser.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/poe-logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-sm md:max-w-xl mt-20 m-10 md:m-auto md:mt-20">
    <AuthUser />
    <slot />
  </body>
</html>
<style is:global>
  html {
    background: #13151a;
    background-size: 224px;
  }
</style>
