---
import { ViewTransitions } from 'astro:transitions';
import '../../base.css';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Navigation from '../components/Navigation.astro';
interface Props {
  title: string;
  authPrompt: boolean;
}

const { title, authPrompt } = Astro.props;

import Auth from '../components/auth/Auth.astro';
---

<!doctype html>
<html lang="en" class="bg-gray-950">
  <head>
    <meta charset="UTF-8" />

    <meta name="og:description" content="An app for all smol league enjoyers" />
    <meta property="og:url" content="https://smol-app.netlify.app" />
    <meta property="og:title" content="Smol App" />
    <meta
      property="og:image"
      content="https://smol-app.netlify.app/poe-logo-original.png"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/poe-logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="max-w-xl md:max-w-2xl lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[90rem] mt-20 m-10 md:m-auto md:mt-20"
  >
    <Breadcrumbs />
    <Navigation />
    <Auth authPrompt={authPrompt} />
    <slot />
  </body>
</html>
